$color: #2c3b63;

%message {
  font-family:sans-serif;
  color: $color;
}

h1 {
  @extend %message;
  text-align: center;
  font-size: 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
  th {
    height: 50px;
    text-align: center;
  }
}

table, th, td {
  border: 1px solid black;
}

th, td {
  @extend %message;
  padding: 15px;
  text-align: left;
}
